<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MJ_Player_TV"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".utils.ReminderReceiver"
            android:exported="false" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://3688295158f83cfc6ca1ce84616339f2@o4509481805873152.ingest.de.sentry.io/4509481808494672"
            />
        <!-- Add data like request headers, user ip address and device name, see https://docs.sentry.io/platforms/android/data-management/data-collected/ for more info -->
        <meta-data
            android:name="io.sentry.send-default-pii"
            android:value="true"
            />
        <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true"
            />
        <!-- enable screenshot for crashes -->
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="true"
            />
        <!-- enable view hierarchy for crashes -->
        <meta-data
            android:name="io.sentry.attach-view-hierarchy"
            android:value="true"
            />
        <!-- enable the performance API by setting a sample-rate, adjust in production env -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0"
            />
        <!-- Enable UI profiling, adjust in production env. This is evaluated only once per session -->
        <meta-data
            android:name="io.sentry.traces.profiling.session-sample-rate"
            android:value="1.0"
            />
        <!-- Set profiling mode. For more info see https://docs.sentry.io/platforms/android/profiling/#enabling-ui-profiling -->
        <meta-data
            android:name="io.sentry.traces.profiling.lifecycle"
            android:value="trace"
            />
        <!-- Enable profiling on app start. The app start profile will be stopped automatically when the app start root span finishes -->
        <meta-data
            android:name="io.sentry.traces.profiling.start-on-app-start"
            android:value="true"
            />
        <!-- record session replays for 100% of errors and 10% of sessions -->
        <meta-data
            android:name="io.sentry.session-replay.on-error-sample-rate"
            android:value="1.0"
            />
        <meta-data
            android:name="io.sentry.session-replay.session-sample-rate"
            android:value="0.1"
            />
    </application>

</manifest>